@charset "UTF-8";

#body{
	overflow: hidden;
	background: url("../resources/teal-pentagonal-background.png") no-repeat fixed center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: absolute;
 
   height: 100%;
   width: 100% ;
   text-align: center;
}


.footer{
	font-size: 55%;
	background-color: #607d8b;
	position: absolute;
  	right: 0;
  	bottom: 0;
 	left: 0;
 	padding: 1rem;
   	text-align: center;
}