@charset "UTF-8";

html{
  background-image: url(../resources/biblioteca.jpg);
}


#body{
	overflow: initial;
	
  min-width: 100%;
   min-height: 100%;

   text-align: center;
   
}

.core{
  padding-top: 20px;
	padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;

}


.footer{
	font-size: 55%;
	background-color: #607d8b;
	position: absolute;
  	right: 0;
  	bottom: 0;
 	left: 0;
 	padding: 1em;
   	text-align: center;
}